
{% extends "app/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            
                <table class="table table-sm table-model-form" style="font-size:11pt; font-weight: 600;">
        {% for field in form %}
        <tr class="border-0 border-bottom">
            
            </td>
            <td style="width: 40%">{{field |as_crispy_field  }}</td>
            <td><span class=" alert-danger">{{field.errors |as_crispy_errors}}</span></td>
        </tr>
        {% endfor %}
    </table>
    <ul class="list-inline  rounded-top rounded-bottom border bg-light" style="padding: 8px 20px 10px 100px;">
        <li><input type="submit" class="btn ui-button list-group-item" value="Accept"></li>
    </ul>

    {% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
       </form>


{% endblock body %}