{% extends "layout.html" %}
{% block body %}
<table id="tablePermission" class="table table-sm table-sorted data-sortable">
    <thead>
        <tr>
            {% for title in titles %}
            <th class="text-center bg-dark " style="color:#c0c8d6;">{{ title }}</th>
            {%endfor%}
            <th colspan="2" class="text-center bg-light text-gray-dark">Action</th>
        </tr>
    </thead>

    <body>
        {% if archive %}
        <tr class="text-center">
            <td>{{archive.index_patient}}</td>
            <td>{{archive.nom_patient}}</td>
            <td>{{archive.num_dossier}}</td>
            <td>{{archive.description}}</td>

            <td> <a href="#"> <i class="fa fa-pencil fa-2x "></i> </a></td>
            <td> <a href="#"> <i class="fa fa-trash-o fa-2x  text-danger"></i>
                </a></td>
        </tr>
        {% endif %}
    </body>

</table>
{% endblock body %}